<div class='question_container'>
  <article id="<%= @question.id %>">
    <a href='/questions/<%= @question.id %>/vote' class="fa fa-sort-desc vote-button"></a>
    <h2><a href='/questions/<%= @question.id %>'><%= @question.title %></a></h2>
  <div id="vote_question">
    <div class="arrow-up"></div>
    <div class="score"><%= @question.vote_count %></div>
    <div class="arrow-down"></div>
  </div>
    <p>
      <span class='question_body'><%= @question.body %></span>
    </p>
    <p>
      Posted by: <a href='/users/<%= @question.user_id %>'> <%= @question.author %></a><br>
      On: <%= @question.created_at %>

    </p>
    <div class="comments-div">
      <p>Question Comments:</p>
      <ul class="comments-list">
      <% @question.comments.each do |comment|%>
      <li>
        <span class='question_comments'><%= comment.body %></span>
        Posted by: <a href='/users/<%= comment.user_id %>'> <%= comment.author %></a>
      </li>
      <% end %>
      </ul>
        <a class="comment-form-link" href='/questions/<%= @question.id %>/comments/new'>add comment to question</a>
    </div>


    <div class='post_answer'><a href='/questions/<%= @question.id %>/answers/new'>post answer</a></div>
    <p>
      <span class='answer_count'><%= @answers.length %> Answers </span>
    </p>
    <div id="answers_container">
    <p>
      <% if @accepted_answer%>
      Accepted Answer:<br>
      <span class='accepted_answer'><%= @accepted_answer.body %></span>
      <% end %>
    </p>
      <p>Question Answers:</p>
      <% @question.answers.each do |answer|%>
        <%= erb :'_answer', layout: false, locals: { answer: answer } %>
      <div class="comments-div">
        <ul class="comments-list">
        <% answer.comments.each do |comment|%>
          <li><span class='answer_comments'><%= comment.body %></span><br>
          Posted by: <a href='/users/<%= comment.user_id %>'> <%= comment.author %></a></li>
        <% end %>
      </ul>
      <a class="comment-form-link"  href='/answers/<%= answer.id %>/comments/new'>add comment to answer</a><br>
    </div>
      <% end %>
    </div>


  </article>
</div>
