<div class='question_container'>
  <article id="<%= @question.id %>">
    <a href='/questions/<%= @question.id %>/vote' class="fa fa-sort-desc vote-button"></a>

    <h2 id="question-title">
      <a id="title-link" href='/questions/<%= @question.id %>'><%= @question.title %></a>
    </h2>

  <div id="question-container">
    <div id="vote_question">
      <a href='/questions/<%= @question.id %>/vote_up'><div class="arrow-up"></div></a>
      <div class="score"><%= @question.points %></div>
      <a href='/questions/<%= @question.id %>/vote_down'><div class="arrow-down"></div></a>
    </div>
  <div class="post-content">
    <div class='question_body'>
      <span><%= @question.body %></span><br>
      <div class="author-content">
      Asked: <%= @question.created_at.strftime("%m/%d/%Y") %><br>
      Posted by: <a href='/users/<%= @question.user_id %>'> <%= @question.author %></a><br>
    </div>
    </div>

    <div class="comments-div">

      <ul class="comments-list">
      <% @question.comments.each do |comment|%>
      <li>
        <span class='question_comments'><%= comment.body %></span>
        - <a href='/users/<%= comment.user_id %>'> <%= comment.author %></a>
      </li>
      <% end %>
      </ul>

        <a class="comment-form-link" href='/questions/<%= @question.id %>/comments/new'>add comment to question</a>
    </div>
    </div>
  <div class='answer-number'>
      <span class='answer_count'><%= @answers.length %> Answers </span>
    </div>
  </div>


    <div id="answers_container">
    <div id='question-container'>
      <% if @accepted_answer%>
      <img id='checkmark' src="http://www.clker.com/cliparts/9/I/e/1/i/B/dark-green-check-mark-th.png">
      <div id="accepted_vote_answer">
        <a href='/answers/<%= @accepted_answer.id %>/vote_up'><div class="arrow-up"></div></a>
        <div class="score"><%= @accepted_answer.vote_count %></div>
        <a href='/answers/<%= @accepted_answer.id %>/vote_down'><div class="arrow-down"></div></a>
        </div>
        <div id="accepted-answer-content">
        <div class='answer_body'><%= @accepted_answer.body %><br>
        <div class="author-content">
        Answered: <%= @accepted_answer.created_at.strftime("%m/%d/%Y") %><br>
        Posted by: <a href='/users/<%= @accepted_answer.user_id %>'><%= @accepted_answer.author %></a></div><br>

      </div><br>
      <% end %>
    </div>
    </div>
      <% @question.answers.each do |answer|%>
      <div id="question-container">
        <%= erb :'_answer', layout: false, locals: { answer: answer } %>
      <div class="comments-div">
        <ul class="comments-list">
        <% answer.comments.each do |comment|%>
          <li><span class='answer_comments'><%= comment.body %></span>

          - <a href='/users/<%= comment.user_id %>'> <%= comment.author %></a></li>
        <% end %>
      </ul>
    <a class="comment-form-link" href='/answers/<%= answer.id %>/comments/new'>add comment to answer</a></div>
      </div>
    </div>
      <% end %>
    </div>
    <div class='post_answer'><a id="post-answer-button" href='/questions/<%= @question.id %>/answers/new'>post answer</a></div>
  </article>
</div>
