<h2 class="new-title">Leave a comment!</h2>
<h4 class="new-title">Please be respectful and refrain from cyberbullying.</h4>
<br>

<%= erb :'sessions/_errors' %>

<% if @question %>
  <div id="question-form">
    <form id="new-comment" id="new-comment" action='/questions/<%=@question.id%>/comments/new' method='post' >
    <%=erb :'comments/_end_of_comment' %>
</div>
<% elsif @answer %>
  <div id="question-form">
    <form id="new-comment" action='/answers/<%=@answer.id%>/comments/new' method='post' >
    <%=erb :'comments/_end_of_comment' %>
<% end %>