<div class="activity" id="<%= activity.id %>">
<% case activity.class.name %>
<% when "Question" %>
  <span>Asked <a href="/questions/<%= activity.id%>"><%= activity.title %></a> on <%= activity.created_at.to_date %></span>
<% when "Answer" %>
  <span>Answered <span class="content-body">"<%= activity.body %>"</span> on <a href="/questions/<%= activity.question.id %>"><%= activity.question.title %></a> on <%= activity.created_at.to_date %></span>
<% when "Comment" %>
  <span>Commented <span class="content-body">"<%= activity.body %>"</span> on <a href="/questions/<%= activity.source_question.id %>"><%= activity.source_question.title %></a> on <%= activity.created_at.to_date %></span>
<% when "Vote" %>
  <span>Voted on a <%= activity.voteable_type %> on <a href="/questions/<%= activity.source_question.id %>"><%= activity.source_question.title %></a> on <%= activity.created_at.to_date %></span>
<% else %>
  <%= "Error." %>
<% end %>
</div>
