<h1 class="questions-header">Recent Activity</h1>

<% unless @activities %>

  <h2>No recent activity</h2>

<% else %>

  <div class="activities-log"
  <% @activities.each do |activity| %>
    <li><%= erb :'users/_activity', locals: { activity: activity } %></li>
  <div>

  <% end %>



  <% unless @questions.empty? %>
    <h1 class="questions-header">My Questions</h1>
    <% @questions.each do |question| %>

      <li><a href="/questions/<%=question.id%>"><%= question.title %></a></li>

    <% end %>
  <% end %>



  <% unless @answers.empty? %>
    <h1 class="questions-header">My Answers</h1>
    <% @answers.each do |answer| %>

      <li>Answered "<%= answer.body %>" on <a href="/questions/<%=answer.question.id%>"><%= answer.question.title %></a></li>

    <% end %>
  <% end %>



  <% unless @comments.empty? %>
    <h1 class="questions-header">My Comments</h1>


    <% @comments.each do |comment| %>

      <li>Commented "<%= comment.body %>" on <a href="/questions/<%=comment.source_question.id%>"><%= comment.source_question.title %></a></li>

    <% end %>
  <% end %>



  <% unless @votes.empty? %>
    <h1 class="questions-header">My Votes</h1>


    <% @votes.each do |vote| %>

      <li>voteed "<%= vote.body %>" on <a href="/questions/<%=vote.source_question.id%>"><%= vote.source_question.title %></a></li>

    <% end %>
  <% end %>
<% end %>
