<div id="vote_answer">
<div class="arrow-up"></div>
<div class="score"><%= answer.vote_count %></div>
<div class="arrow-down"></div>
</div>
<div class="answer-content">
        <div class='answer_body'><%= answer.body %><br>
        <div class="author-content">
        Answered: <%= answer.created_at.strftime("%m/%d/%Y") %><br>
        Posted by: <a href='/users/<%= answer.user_id %>'><%= answer.author %></a></div><br>

      </div><br>
